@import "tailwindcss";

*,::after,::before{
  box-sizing: border-box;
}

body{
  font-family: var(--font-jakarta);
  scroll-behavior: smooth;
}

@theme {
  --primary-color: #224ECB;
  --paragraph-color: #000C1F80;
  --sub-color: #E3E3E2;
  --custom-gray-color:#000C1F80;
  --light-babyBlue-color:#224ECB1A;
  --semi-white-color: rgba(255, 255, 255, 0.7);

}
@utility flex-center {
    @apply flex justify-center items-center;
}
@utility white{
  @apply text-white;
}

/* @layer components{
  .container {
    @apply max-w-screen-xl mx-auto my-0 py-0 px-
  }
} */
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.header-bg {
  background-color: var(--primary-color);
  background-image: 
    url('../public/gridImage.png'), 
    url('../public/Midjourney.png');
  background-size: cover, cover;       
  background-position: center, center; 
  background-repeat: no-repeat, no-repeat;
}
.header-bg-two {
  background-color: var(--sub-color);
  background-image: 
    url('../public/gridImage.png'), 
    url('../public/image2.png');
  background-size: cover, cover;       
  background-position: center, center; 
  background-repeat: no-repeat, no-repeat;
}

.third-section-left{

  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../public/diverImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 

.common-bg {
  background-image: url("../public/diverImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



